In [32]:
import pandas as pd
import numpy as np

from datetime import datetime
from datetime import date

In [40]:
df_covid_msis = pd.read_excel("../Downloads/report (2).xls", header=14, index_col=0)

In [18]:
df_covid_msis.describe()

          70 - 79
count   13.000000
mean    90.307692
std    158.717456
min      1.000000
25%     15.000000
50%     30.000000
75%     62.000000
max    587.000000

In [49]:
df_covid_msis.replace("-", "0", inplace=True)

df_covid_msis["0 - 9"] = pd.to_numeric(df_covid_msis["0 - 9"])
df_covid_msis["10 - 19"] = pd.to_numeric(df_covid_msis["10 - 19"])
df_covid_msis["20 - 29"] = pd.to_numeric(df_covid_msis["20 - 29"])
df_covid_msis["30 - 39"] = pd.to_numeric(df_covid_msis["30 - 39"])
df_covid_msis["40 - 49"] = pd.to_numeric(df_covid_msis["40 - 49"])
df_covid_msis["50 - 59"] = pd.to_numeric(df_covid_msis["50 - 59"])
df_covid_msis["60 - 69"] = pd.to_numeric(df_covid_msis["60 - 69"])
df_covid_msis["70 - 79"] = pd.to_numeric(df_covid_msis["70 - 79"])
df_covid_msis["80+"] = pd.to_numeric(df_covid_msis["80+"])
df_covid_msis["Ukjent"] = pd.to_numeric(df_covid_msis["Ukjent"])


df_covid_msis["rep_date"] = np.datetime64(date.today())

In [50]:
df_covid_msis.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13 entries, Oslo (f) to Totalt
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   0 - 9     13 non-null     int64
 1   10 - 19   13 non-null     int64
 2   20 - 29   13 non-null     int64
 3   30 - 39   13 non-null     int64
 4   40 - 49   13 non-null     int64
 5   50 - 59   13 non-null     int64
 6   60 - 69   13 non-null     int64
 7   70 - 79   13 non-null     int64
 8   80+       13 non-null     int64
 9   Ukjent    13 non-null     int64
 10  rep_date  13 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(10)
memory usage: 1.2+ KB

In [51]:
df_covid_msis.head(13)

,0 - 9,10 - 19,20 - 29,30 - 39,40 - 49,50 - 59,60 - 69,70 - 79,80+,Ukjent,rep_date
Fylke,,,,,,,,,,,
Oslo (f),56,141,454,544,464,396,187,144,165,0,2020-05-15
Ukjent fylke,0,0,0,0,0,0,0,1,0,0,2020-05-15
Trøndelag,20,52,81,72,80,103,50,55,12,0,2020-05-15
Møre og Romsdal,0,6,20,18,16,31,24,12,5,0,2020-05-15
Nordland,0,5,25,14,17,18,23,11,4,0,2020-05-15
Rogaland,12,26,50,58,115,82,59,19,17,0,2020-05-15
Vestland,7,33,153,143,143,174,112,62,52,0,2020-05-15
Agder,0,10,48,59,68,73,31,27,20,0,2020-05-15
Vestfold og Telemark,4,10,36,44,49,59,30,30,19,0,2020-05-15
Innlandet,3,34,69,72,73,112,56,30,28,0,2020-05-15
Viken,28,109,285,298,405,474,272,181,157,0,2020-05-15
Troms og Finnmark,7,18,61,37,33,41,32,15,7,0,2020-05-15
Totalt,137,444,1282,1359,1463,1563,876,587,486,0,2020-05-15

In [36]:
print(np.datetime64(date.today()))

2020-05-15

In [31]:
np.datetime64()

numpy.datetime64('NaT')